image: node:20

cache:
  paths:
    - node_modules/

pages:
  stage: deploy
  script:
    - npm ci
    - CI=true npm run build
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
