# The Docker image that will be used to build your app
image: node:20

cache:
  paths:
    - node_modules/

create-pages:
  stage: deploy
  script:
    - npm ci
    - CI=true npm run build
  pages:
    # The folder that contains the files to be exposed at the Page URL
    publish: public
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
